/* custom-pagination.css */
/* 
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
}

.pagination .active a {
    background-color: #333;
    color: #fff;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .disabled {
    pointer-events: none;
    opacity: 0.6;
} */
